.sidebar-icon {
    width: 25px;
}

/* For Side Item Active */
.nav-item a .active-icon {
    display: none;
}

.side-item-active {
    background-color: #161365;
    border-radius: 5px;
    color: white;
}

.side-item-active a {
    color: white;
}

.side-item-active a .inactive-icon {
    display: none;
}

.side-item-active a .active-icon {
    display: initial;
}